nav {
	background: #d8f3dc;
}
footer {
	background: #d8f3dc;
}

#customFooter {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
