/*--Navigation Bar start --*/
nav {
	background: #d8f3dc;
}
/*--Navigation Bar End --*/

/*--FAQ Section start --*/
.faq {
	padding-left: 40px;
}
.faq-bottom hr {
	padding: 10px;
}
/*--FAQ Section end--*/

/*--Contact Us Start --*/
.contact-us {
	padding-left: 40px;
}
#textarea {
	height: 200px;
	width: 1110px;
	margin-left: 120px;
}
#btn {
	margin-top: 25px;
	margin-left: 1150px;
}
.contact-us-bottom hr {
	padding: 10px;
}
/*--Contact Us End --*/

/*--Footer Start --*/
footer {
	background: #d8f3dc;
}

#customFooter {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*--Footer End --*/
